<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FooodHub</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSans-Black.ttf</string>
		<string>NotoSans-BlackItalic.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-BoldItalic.ttf</string>
		<string>NotoSans-ExtraBold.ttf</string>
		<string>NotoSans-ExtraBoldItalic.ttf</string>
		<string>NotoSans-ExtraLight.ttf</string>
		<string>NotoSans-ExtraLightItalic.ttf</string>
		<string>NotoSans-Italic.ttf</string>
		<string>NotoSans-Light.ttf</string>
		<string>NotoSans-LightItalic.ttf</string>
		<string>NotoSans-Medium.ttf</string>
		<string>NotoSans-MediumItalic.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSans-SemiBold.ttf</string>
		<string>NotoSans-SemiBoldItalic.ttf</string>
		<string>NotoSans-Thin.ttf</string>
		<string>NotoSans-ThinItalic.ttf</string>
		<string>NotoSans_Condensed-Black.ttf</string>
		<string>NotoSans_Condensed-BlackItalic.ttf</string>
		<string>NotoSans_Condensed-Bold.ttf</string>
		<string>NotoSans_Condensed-BoldItalic.ttf</string>
		<string>NotoSans_Condensed-ExtraBold.ttf</string>
		<string>NotoSans_Condensed-ExtraBoldItalic.ttf</string>
		<string>NotoSans_Condensed-ExtraLight.ttf</string>
		<string>NotoSans_Condensed-ExtraLightItalic.ttf</string>
		<string>NotoSans_Condensed-Italic.ttf</string>
		<string>NotoSans_Condensed-Light.ttf</string>
		<string>NotoSans_Condensed-LightItalic.ttf</string>
		<string>NotoSans_Condensed-Medium.ttf</string>
		<string>NotoSans_Condensed-MediumItalic.ttf</string>
		<string>NotoSans_Condensed-Regular.ttf</string>
		<string>NotoSans_Condensed-SemiBold.ttf</string>
		<string>NotoSans_Condensed-SemiBoldItalic.ttf</string>
		<string>NotoSans_Condensed-Thin.ttf</string>
		<string>NotoSans_Condensed-ThinItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Black.ttf</string>
		<string>NotoSans_ExtraCondensed-BlackItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Bold.ttf</string>
		<string>NotoSans_ExtraCondensed-BoldItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-ExtraBold.ttf</string>
		<string>NotoSans_ExtraCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-ExtraLight.ttf</string>
		<string>NotoSans_ExtraCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Italic.ttf</string>
		<string>NotoSans_ExtraCondensed-Light.ttf</string>
		<string>NotoSans_ExtraCondensed-LightItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Medium.ttf</string>
		<string>NotoSans_ExtraCondensed-MediumItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Regular.ttf</string>
		<string>NotoSans_ExtraCondensed-SemiBold.ttf</string>
		<string>NotoSans_ExtraCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSans_ExtraCondensed-Thin.ttf</string>
		<string>NotoSans_ExtraCondensed-ThinItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Black.ttf</string>
		<string>NotoSans_SemiCondensed-BlackItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Bold.ttf</string>
		<string>NotoSans_SemiCondensed-BoldItalic.ttf</string>
		<string>NotoSans_SemiCondensed-ExtraBold.ttf</string>
		<string>NotoSans_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>NotoSans_SemiCondensed-ExtraLight.ttf</string>
		<string>NotoSans_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Italic.ttf</string>
		<string>NotoSans_SemiCondensed-Light.ttf</string>
		<string>NotoSans_SemiCondensed-LightItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Medium.ttf</string>
		<string>NotoSans_SemiCondensed-MediumItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Regular.ttf</string>
		<string>NotoSans_SemiCondensed-SemiBold.ttf</string>
		<string>NotoSans_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>NotoSans_SemiCondensed-Thin.ttf</string>
		<string>NotoSans_SemiCondensed-ThinItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Gilroy-Black.ttf</string>
		<string>Gilroy-BlackItalic.ttf</string>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-BoldItalic.ttf</string>
		<string>Gilroy-ExtraBold.ttf</string>
		<string>Gilroy-ExtraBoldItalic.ttf</string>
		<string>Gilroy-Heavy.ttf</string>
		<string>Gilroy-HeavyItalic.ttf</string>
		<string>Gilroy-Light.ttf</string>
		<string>Gilroy-LightItalic.ttf</string>
		<string>Gilroy-Medium.ttf</string>
		<string>Gilroy-MediumItalic.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>Gilroy-RegularItalic.ttf</string>
		<string>Gilroy-SemiBold.ttf</string>
		<string>Gilroy-SemiBoldItalic.ttf</string>
		<string>Gilroy-Thin.ttf</string>
		<string>Gilroy-ThinItalic.ttf</string>
		<string>Gilroy-UltraLight.ttf</string>
		<string>Gilroy-UltraLightItalic.ttf</string>
		<string>NunitoSans_10pt-Black.ttf</string>
		<string>NunitoSans_10pt-BlackItalic.ttf</string>
		<string>NunitoSans_10pt-Bold.ttf</string>
		<string>NunitoSans_10pt-BoldItalic.ttf</string>
		<string>NunitoSans_10pt-ExtraBold.ttf</string>
		<string>NunitoSans_10pt-ExtraBoldItalic.ttf</string>
		<string>NunitoSans_10pt-ExtraLight.ttf</string>
		<string>NunitoSans_10pt-ExtraLightItalic.ttf</string>
		<string>NunitoSans_10pt-Italic.ttf</string>
		<string>NunitoSans_10pt-Light.ttf</string>
		<string>NunitoSans_10pt-LightItalic.ttf</string>
		<string>NunitoSans_10pt-Medium.ttf</string>
		<string>NunitoSans_10pt-MediumItalic.ttf</string>
		<string>NunitoSans_10pt-Regular.ttf</string>
		<string>NunitoSans_10pt-SemiBold.ttf</string>
		<string>NunitoSans_10pt-SemiBoldItalic.ttf</string>
		<string>NunitoSans_10pt_Condensed-Black.ttf</string>
		<string>NunitoSans_10pt_Condensed-BlackItalic.ttf</string>
		<string>NunitoSans_10pt_Condensed-Bold.ttf</string>
		<string>NunitoSans_10pt_Condensed-BoldItalic.ttf</string>
		<string>NunitoSans_10pt_Condensed-ExtraBold.ttf</string>
		<string>NunitoSans_10pt_Condensed-ExtraBoldItalic.ttf</string>
		<string>NunitoSans_10pt_Condensed-ExtraLight.ttf</string>
		<string>NunitoSans_10pt_Condensed-ExtraLightItalic.ttf</string>
		<string>NunitoSans_10pt_Condensed-Italic.ttf</string>
		<string>NunitoSans_10pt_Condensed-Light.ttf</string>
		<string>NunitoSans_10pt_Condensed-LightItalic.ttf</string>
		<string>NunitoSans_10pt_Condensed-Medium.ttf</string>
		<string>NunitoSans_10pt_Condensed-MediumItalic.ttf</string>
		<string>NunitoSans_10pt_Condensed-Regular.ttf</string>
		<string>NunitoSans_10pt_Condensed-SemiBold.ttf</string>
		<string>NunitoSans_10pt_Condensed-SemiBoldItalic.ttf</string>
		<string>NunitoSans_10pt_Expanded-Black.ttf</string>
		<string>NunitoSans_10pt_Expanded-BlackItalic.ttf</string>
		<string>NunitoSans_10pt_Expanded-Bold.ttf</string>
		<string>NunitoSans_10pt_Expanded-BoldItalic.ttf</string>
		<string>NunitoSans_10pt_Expanded-ExtraBold.ttf</string>
		<string>NunitoSans_10pt_Expanded-ExtraBoldItalic.ttf</string>
		<string>NunitoSans_10pt_Expanded-ExtraLight.ttf</string>
		<string>NunitoSans_10pt_Expanded-ExtraLightItalic.ttf</string>
		<string>NunitoSans_10pt_Expanded-Italic.ttf</string>
		<string>NunitoSans_10pt_Expanded-Light.ttf</string>
		<string>NunitoSans_10pt_Expanded-LightItalic.ttf</string>
		<string>NunitoSans_10pt_Expanded-Medium.ttf</string>
		<string>NunitoSans_10pt_Expanded-MediumItalic.ttf</string>
		<string>NunitoSans_10pt_Expanded-Regular.ttf</string>
		<string>NunitoSans_10pt_Expanded-SemiBold.ttf</string>
		<string>NunitoSans_10pt_Expanded-SemiBoldItalic.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-Black.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-BlackItalic.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-Bold.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-BoldItalic.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-ExtraBold.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-ExtraLight.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-Italic.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-Light.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-LightItalic.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-Medium.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-MediumItalic.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-Regular.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-SemiBold.ttf</string>
		<string>NunitoSans_10pt_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-Black.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-BlackItalic.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-Bold.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-BoldItalic.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-ExtraBold.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-ExtraBoldItalic.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-ExtraLight.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-ExtraLightItalic.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-Italic.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-Light.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-LightItalic.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-Medium.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-MediumItalic.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-Regular.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-SemiBold.ttf</string>
		<string>NunitoSans_10pt_SemiExpanded-SemiBoldItalic.ttf</string>
		<string>NunitoSans_7pt-Black.ttf</string>
		<string>NunitoSans_7pt-BlackItalic.ttf</string>
		<string>NunitoSans_7pt-Bold.ttf</string>
		<string>NunitoSans_7pt-BoldItalic.ttf</string>
		<string>NunitoSans_7pt-ExtraBold.ttf</string>
		<string>NunitoSans_7pt-ExtraBoldItalic.ttf</string>
		<string>NunitoSans_7pt-ExtraLight.ttf</string>
		<string>NunitoSans_7pt-ExtraLightItalic.ttf</string>
		<string>NunitoSans_7pt-Italic.ttf</string>
		<string>NunitoSans_7pt-Light.ttf</string>
		<string>NunitoSans_7pt-LightItalic.ttf</string>
		<string>NunitoSans_7pt-Medium.ttf</string>
		<string>NunitoSans_7pt-MediumItalic.ttf</string>
		<string>NunitoSans_7pt-Regular.ttf</string>
		<string>NunitoSans_7pt-SemiBold.ttf</string>
		<string>NunitoSans_7pt-SemiBoldItalic.ttf</string>
		<string>NunitoSans_7pt_Condensed-Black.ttf</string>
		<string>NunitoSans_7pt_Condensed-BlackItalic.ttf</string>
		<string>NunitoSans_7pt_Condensed-Bold.ttf</string>
		<string>NunitoSans_7pt_Condensed-BoldItalic.ttf</string>
		<string>NunitoSans_7pt_Condensed-ExtraBold.ttf</string>
		<string>NunitoSans_7pt_Condensed-ExtraBoldItalic.ttf</string>
		<string>NunitoSans_7pt_Condensed-ExtraLight.ttf</string>
		<string>NunitoSans_7pt_Condensed-ExtraLightItalic.ttf</string>
		<string>NunitoSans_7pt_Condensed-Italic.ttf</string>
		<string>NunitoSans_7pt_Condensed-Light.ttf</string>
		<string>NunitoSans_7pt_Condensed-LightItalic.ttf</string>
		<string>NunitoSans_7pt_Condensed-Medium.ttf</string>
		<string>NunitoSans_7pt_Condensed-MediumItalic.ttf</string>
		<string>NunitoSans_7pt_Condensed-Regular.ttf</string>
		<string>NunitoSans_7pt_Condensed-SemiBold.ttf</string>
		<string>NunitoSans_7pt_Condensed-SemiBoldItalic.ttf</string>
		<string>NunitoSans_7pt_Expanded-Black.ttf</string>
		<string>NunitoSans_7pt_Expanded-BlackItalic.ttf</string>
		<string>NunitoSans_7pt_Expanded-Bold.ttf</string>
		<string>NunitoSans_7pt_Expanded-BoldItalic.ttf</string>
		<string>NunitoSans_7pt_Expanded-ExtraBold.ttf</string>
		<string>NunitoSans_7pt_Expanded-ExtraBoldItalic.ttf</string>
		<string>NunitoSans_7pt_Expanded-ExtraLight.ttf</string>
		<string>NunitoSans_7pt_Expanded-ExtraLightItalic.ttf</string>
		<string>NunitoSans_7pt_Expanded-Italic.ttf</string>
		<string>NunitoSans_7pt_Expanded-Light.ttf</string>
		<string>NunitoSans_7pt_Expanded-LightItalic.ttf</string>
		<string>NunitoSans_7pt_Expanded-Medium.ttf</string>
		<string>NunitoSans_7pt_Expanded-MediumItalic.ttf</string>
		<string>NunitoSans_7pt_Expanded-Regular.ttf</string>
		<string>NunitoSans_7pt_Expanded-SemiBold.ttf</string>
		<string>NunitoSans_7pt_Expanded-SemiBoldItalic.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-Black.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-BlackItalic.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-Bold.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-BoldItalic.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-ExtraBold.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-ExtraLight.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-Italic.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-Light.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-LightItalic.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-Medium.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-MediumItalic.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-Regular.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-SemiBold.ttf</string>
		<string>NunitoSans_7pt_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-Black.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-BlackItalic.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-Bold.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-BoldItalic.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-ExtraBold.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-ExtraBoldItalic.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-ExtraLight.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-ExtraLightItalic.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-Italic.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-Light.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-LightItalic.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-Medium.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-MediumItalic.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-Regular.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-SemiBold.ttf</string>
		<string>NunitoSans_7pt_SemiExpanded-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
